body {
    background-color: black;
}

.wrapper {
    border: 3px solid greenyellow;
    padding: 100px 20px;
    margin: 150px auto;
    width: 80%;
}

.error {
    animation: noerror 1s;
}

@keyframes noerror {
    17% {border: 3px solid red;}
    34% {border: 3px solid greenyellow;}
    51% {border: 3px solid red;}
    68% {border: 3px solid greenyellow;}
    82% {border: 3px solid red;}
    99% {border: 3px solid greenyellow;}
}
    
.textbox { 
    padding: 20px;
    display: block;
    border-radius: 3px;
    background-color: transparent;
    border: none;
    text-align: center;
    box-shadow: 0 0 30px rgba(255, 255, 255, .8);
    position: relative;
    margin: 50px auto;
    color: white;    
    transition: box-shadow .8s;
    font-size: 20px;
    max-width: 300px;
}

.textbox:hover, :focus {
    box-shadow: none;
}

.textbox::placeholder{
    color: white;
}

.textbox:focus{
    outline: none;
}
  
.welcome {
    color: white;
    font-family: 'Serif';
    text-align: center;
    font-size: 6em;
    font-weight: 100;
    letter-spacing: 1cm;
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.btn {
    display: block;
    border: none;
    text-align: center;
    position: relative;
    margin: 30px auto;
    color: greenyellow;    
    background-color: transparent;
    transition: color .45s;
    font-size: 20px;
}

.btn:hover, :focus {
    color: white;
}

.btn::placeholder{
    color: red;
}

.btn, a {
    text-decoration: none;
}

/* start of phone styles */
@media screen and (max-width: 479px) {
    .wrapper {
        border: none;
    }

    .welcome {
        font-size: 25px;
    }

    .btn {
        font-size: 10px;
    }

    .textbox::placeholder{
        font-size: 20px;
    }

    .textbox {
        padding: 10px;
    }
    
    .btn {
        font-size: 30px;
    }

    .element {
        margin: 20px !important;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.element {
    border: 1px solid greenyellow;
    margin: 5px;
}

.element:hover {
    border-color: white;
}

.element:hover .btn {
    color: greenyellow;
}

.element .btn {
    color: white;
}

.element a {
    padding: 30px;
    margin: 0;
}

.list_name {
    display: block;
    color: white;
    text-align: center;
    font-size: 35px;
    margin: 15px;
    letter-spacing: .25cm;
    cursor: pointer;
}

.list_name:hover {
    color: greenyellow;
}

.text {
    display: block;
    color: white;
    text-align: center;
    font-size: 35px;
    margin: 15px;
    letter-spacing: .25cm;
    cursor: pointer;
}

.blue {
    color: blue !important;
}

.blue:hover {
    color: lightskyblue;
}

.line {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.line .list_name{
    display: inline-block;
}

.option {
    display: none !important;
}

.option > div {
    margin: auto;
}

.delete {
    cursor: pointer;
}

.delete:hover {
    color: red;
}

.modify:hover {
    color: orange;
}

.lock:hover {
    color: lightskyblue;
}

.line:hover .option {
    display: inline !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.inputarea {
    position: relative;
    padding: 15px;
    border: 2px solid blue;
    margin: 10px auto;
}

.inputarea .btn {
    color: blue;
}

.inputarea .btn:hover {
    color: orange;
}

.del {
    position: relative;
    padding: 15px;
    border: 2px solid red;
    margin: 0 auto;
}

.options {
    display: grid;
    grid-template-columns: 49.9% 49.9%;
}

.options .btn, .option {
    margin: auto;
}

.four_options {
    display: grid;
    grid-template-columns: 24.99% 24.99% 24.99% 24.99%;
}

.three_options {
    display: grid;
    grid-template-columns: 24.99% 24.99% 24.99% 24.99%;
}

.two_inline {
    display: grid;
    grid-template-columns: 49.9% 49.9%;
}

.red {
    color: red;
}

.starred {
    color: orange !important;
}

.done {
    text-decoration: line-through;
}

.disabled {
    opacity: 0.25;
}

.warning {
    color: red;
    display: block;
    text-align: center;
    font-size: 35px;
    margin: 15px;
    letter-spacing: .25cm;
    cursor: default;
}

.errorcls {
    opacity: 0;
    animation: display_error_msg 2s;
}

@keyframes display_error_msg {
    100%{
        opacity: 1;
    }
}

.errormsg {
    color: red;
    display: block;
    text-align: center;
    font-size: 35px;
    margin: 15px;
    letter-spacing: .25cm;
    cursor: default;
}

.password_area {
    display:flex;
    flex-direction:row;
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
}

#passwd {
    flex-grow:2;
}

#showbtn {
    position: relative;
    left: -50px;
    display: none;
    padding: 0;
}

.password_area:focus-within #showbtn{
    display: block;
}

.weather {
    display: grid;
    grid-template-rows: auto auto auto auto;
    border: 1px solid greenyellow;
    margin: 5px;
    padding: 20px;
    color: white;
}

.weather:hover {
    color: greenyellow;
    border: 1px solid white;
    cursor: pointer;
}

.weather:hover .delete-weather{
    display: block !important;
}

.delete-weather {
    display: none;
}

.delete-weather:hover {
    color: red;
}

.order-menu {
    text-align: center;
    text-decoration: none;
    color: greenyellow;
    line-height: 2em;
    display: none;
    /* border: 1px solid greenyellow; */
    width: 30%;
    margin: auto;
}

.order-menu a{
    display: block;
}

.order-menu a:visited {
    color: greenyellow;
}

.selected-menu-order {
    color: white;
    text-align: center;
}

.order-btn {
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
}

.order-btn:hover {
    color: greenyellow;
    border-color: greenyellow;
}

.small-box {
    padding: 0;
    resize: none;
    width: 100px;
    margin: 0;
    line-height: 15px;;
}

.timetable .btn {
    margin: 0;
}

.timetable {
    display: grid;
    grid-template-areas: 
    "days days days days days days"
    "times timetablecontent timetablecontent timetablecontent timetablecontent timetablecontent";
    color: white;
}

.timetable span {
    margin: 10px;
}

.days {
    grid-area: days;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.times {
    grid-area: times;
    display: grid;
    grid-template-rows: repeat(12, 1fr); 
}

.times span {
    margin: 10px 0;
}

.timetablecontent {
    grid-area: timetablecontent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr); 
}

textarea {
    resize: none;
    height: 1em;
    overflow: hidden;
}

.hover-show:hover .delete{
    display: block !important;
}

.square {
    display: grid;
    grid-template-rows: auto auto auto auto;
    border: 1px solid greenyellow;
    margin: 5px;
    padding: 20px;
    color: white;
}

.nomargin {
    margin: 0;
}

.item_price {
    border: 1px solid greenyellow;
}

.item_price > input {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 5px;
    color: white;
}

.ops:hover .ops_del {
    display: block !important;
}

.ops:hover .ops_scr {
    display: none;
}

.white_font {
    color: white !important;
}

.balance_line {
    padding: 15px 0;
}

.subject {
    color: lightblue;
    margin: 10px 20px;
    word-wrap: break-word;
}

.notes {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.note {
    margin: auto 5px;
    padding: 5px;
    color: white;
}

.notes_container {
    border: 1px solid white;
    margin: 8px;
}

.note_add {
    background-color: transparent;
    margin: auto 5px;
    padding: 5px;
    color: white;
    border: none;
    display: none;
}

.small_text {
    width: 20px;
    height: 5px;
}

.notes:hover .note_add {
    display: block;
}

.subject_link {
    background-color: transparent;
    color: lightblue;
    border: none;
    width: auto;
    text-align: left;
}

.msg {
    color: white;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}